.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #2e3047;
    box-shadow: 0px 0px 2px #43455c;
    border-radius: 4px;
    color: #3bba9c;
    
}

.rank {
    margin: .3rem;
}

.rank-btn {
    border: 1px solid #3bba9c;
    box-shadow: 0px 0px 2px #3bba9c;
    background-color: #3bba9c;
    border-radius: 8px;
    padding: .1rem;
    
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: smaller;
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
}

.content th {
    background-color: #43455c;
    color: #3bba9c;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #43455c;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #43455c;
}

.about h3 {
    margin: 1rem 0;
    color: #3bba9c;
}

.about p{
    font-size: small;
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }
}






